/* Global */

html {
  background-color: floralwhite;
  font-family: monospace;
}

img {
  width: 250px;
  height: 250px;
}

#homeicon {
  float: left;
  padding: 0;
}

.nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  back
}

.nav a {
  text-align: center;
  text-decoration: none;
  padding: 10px;
}

/* index.html */

.dog_pictures_container {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  min-width: 300px;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  background-color: floralwhite;
}

.dog_pictures_container div {
  width: 250px;
  border: 2px solid black;
}

.dog_pictures_container img {
  border-bottom: 2px solid black;
}

/* details.html */
.details_container {
  height: 250px;
}

.image_container {
  float: left;
  margin-right: 25px;
}



