/* Global */
html {
  background-color: floralwhite;
  font-family: monospace;
}

img {
  width: 250px;
  height: 250px;
}

#homeicon {
  float: left;
  padding: 0;
}

.nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav a {
  text-align: center;
  text-decoration: none;
  padding: 10px;
}

body {
  margin-left: 100px;
  margin-right: 100px;
  background-color: floralwhite;
}

p {
  white-space: pre-line;
}

/* index.html */
.dog_pictures_container {
  display: flex;
  min-width: 300px;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.dog_pictures_container div {
  width: 250px;
  border: 2px solid black;
}

.dog_pictures_container img {
  border-bottom: 2px solid black;
}

/* details.html */
.details_container {
  height: 250px;
}

.details_container img {
  float: left;
  margin-right: 25px;
  border: 1px solid black;
}

/* about.html */
#specialimage {
  display: flex;
  min-width:250px;
  border: 1px solid black;
}

.list_container {
  padding-left: 25px;
}